body{
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
    padding-left:20%;
    line-height:30px;
    
        
}
.mission h1{
    border-inline-start:4px solid tomato ;
    border-image:linear-gradient(tomato);
}
p{
    width:40%;
    font-size:20px;
    padding-left:20%;
}

.color{
    color:orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:15px 30px;
    border-radius: 8px;
    margin-left: 190px;
    color:white;
    font-weight: 500;
    
}

.mission{
    padding-top:150px;
    
    
    
}

section{
    display:flex;
}
section img{
    width:50%;
}
.second-part h2{
     font-size: 40px;
     margin-left:700px;
     text-align:center;
 }

