body{
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
    padding-left:20%;
    line-height:30px;
    
        
}
.mission h1{
    border-inline-start:4px solid tomato ;
    border-image:linear-gradient(tomato);
}
p{
    width:40%;
    font-size:20px;
    padding-left:20%;
}

.color{
    color:orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:15px 30px;
    border-radius: 8px;
    margin-left: 190px;
    color:white;
    font-weight: 500;
    
}

.mission{
    padding-top:150px;
    
    
    
}

section{
    display:flex;
}
section img{
    width:50%;
}
h2{
     font-size: 40px;
     text-align:center;
 }
.second-part{
    display:flex;
    margin-left: 25%;

 
}
.illustration-1{

    background-color: lightblue;
    width:20%;
    padding-left:2%;
    border-radius: 10px;
    margin-right: 20px;
    
}
.illustration-1 img{
    margin-left: 30px;
}
#mission-1{
    padding-left: 20%;
}
.illustration-2{

    background-color: lightpink;
    width:20%;
    height:30%;
    padding-left:2%;
    border-radius: 10px;
    margin-right: 20px;
    
}
.illustration-2 img{
    margin-left: 30px;
}
#mission-2{
    padding-left: 20%;
}
.illustration-3{

    background-color: lightyellow;
    width:20%;
    padding-left:2%;
    border-radius: 10px;
    
    
}
.illustration-3 img{
    margin-left: 30px;
}
#mission-3{
    padding-left:20%;
}