body{
    font-family:'Times New Roman', Times, serif;
    margin:-10% -15% -10% -15%;
    
}

.mission h1{
    font-size: 50px;
    padding-left:2%;
    line-height:30px;
    border-left:4px solid tomato ;
    border-image:linear-gradient(tomato);
    
}
.mission p{
    width:40%;
    font-size:20px;
    padding-left:2%;
}
.heading{
    padding-left: 20%;
    padding-top: 6%;
}

.color{
    color:orange;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:15px 30px;
    border-radius: 8px;
    margin-left: 17px;
    color:white;
    font-weight: 500;
    
}

.mission{
    padding-top:150px;
    display:flex;
    margin: 0 auto;
    
      
}

.mission img{
    width:50%;
    margin-top: 2%;
    
}
h2{
     font-size: 40px;
     text-align:center;
 }
.second-part{
    display:flex;
    margin-left:20%;
    
}
.second-part img{
    width:60%;

}

 .illustration-1{

    background-color: rgb(222, 240, 247);
    width:20%;
    height:350px;
    border-radius: 10px;
    margin-right: 20px;
    
} 

#mission-1{
    padding-left: 5%;
}
.illustration-1 p{
    width:80%;
    padding-left:5%;
    padding-right: 2%;
    font-size:15px;
    
}

.illustration-2{

    background-color: rgb(255, 225, 229);
    width:20%;
    height:350px;
    border-radius: 10px;
    margin-right: 20px;
    
} 

#mission-2{
    padding-left: 5%;
}
.illustration-2 p{
    width:80%;
    padding-left:5%;
    padding-right: 2%;
    font-size:15px;
    
}
.illustration-3{

    background-color: rgb(253, 253, 221);
    width:20%;
    height:350px;
    border-radius: 10px;
    margin-right: 20px;
    
} 

#mission-3{
    padding-left: 5%;
}
.illustration-3 p{
    width:80%;
    padding-left:5%;
    padding-right: 2%;
    font-size:15px;
    
}
.third-part{
    display:flex;
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: 18%;
    



}
.third-part img{
    width:80%;
    margin-left:90%;
    
}
.third-part h1{
    font-size: 40px;
    width: 80%;
}
/* .third-part p{
    margin-right: 40%;
    
} */
.develop{
    margin-left:18%;
    margin-right: 40%;
}
.button-2{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding:15px 30px;
    border-radius: 8px;
    margin-left: 17px;
    color:white;
    font-weight: 500;
    margin-left:0%;
    
}
.fourth-part{
    display:flex;
    background-image: url(image/shape-1.png);
    background-repeat: no-repeat;
    background-size:8%;
    background-position:70%;
    background-position-y:100%;
}
.fourth-part img{
    width:30%;
    margin-left:20%;
    margin-top: -10%;
    
    
    
}
.fourth-part h1{
    font-size: 40px;
    width: 120%;
}
.community{
    margin-left: 20%;
    width:30%;
    margin-top:-4%;
}
footer h1{
    font-size: 50px;
    font-family: 'The Nautigal', cursive;
    background-color: black;
    width:100%;
    height:100px;
    color:white;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0%;

}
 footer p{
    font-size: 12px;
    color:#ffffff;
    background-color: black; 
    width:100%;
    height:3px;
    text-align: center;
    margin-top: -1.5%;
    padding-bottom: 5px;
    
    
}
.color-2{
    color:tomato;
}
#title{
    text-align: center;
}
.image{
    width:100%;
}
.fifth-part{
    display: flex;
}
.fifth-part img{
    width:80%;
    padding-left:80%;
    padding-top: 10%;
}
.fifth-part h1{
    font-size: 40px;

}
.corona{
    padding-left: 20%;
}
.fifth-part p{
    width: 60%;
}